{# We compute if the URL is external in twig, so we can avoid passing a #}
{# parameter **every** time we use this component #}
<div class="card" style="width: 18rem;">
  <img src="{{ image }}" alt="">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <div class="card-body">
      {% block card_body %}
      {% endblock %}
    </div>
    {% if cta_text is not empty %}
      {% include 'bs_sass:cta' with { text: cta_text|default(''), href: cta_href, target: cta_target|default('') } only %}
    {% endif %}

  </div>
</div>
